SetEnv PHPRC /home/shopmir5/public_html/bon/php.ini
AddHandler application/x-httpd-php54 .php .php5 .php4 .php3

<IfModule mod_rewrite.c>
        RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
</IfModule>
